<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Document</title>
</head>
<body>
  <div class="signbox">
    <h1>sign up page</h1>
    <form action="{{url_for('signup')}}" method="post" class="form">
      <input type="text" name="name" class='username' placeholder=" Enter username.." required><br><br>
      <input type="text" name="password" class='password' placeholder=" Enter password.." required><br>
      {% if error_message %}
        <p class="error_message">{{error_message}}</p>
      {% endif %} 
      <input type="submit" class='btn' value="signup"><br><br>
      <a href="{{url_for('login')}}" class="Already">Already have an account. Log In</a>
    </form>
  </div>
</body>
</html>